<div class="container">
  <div class="authform">
    <h3>Create New Post</h3>
    <%= form_for(@post, url: user_posts_path(current_user), :html => { :method => :post, :role => 'form'}) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>

      <%= f.submit :class => 'button right' %>
    <% end %>
  </div>
  <div class="row">
    <h3>Posts</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <%= render post %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
