<div class="container">
  <div class="authform">
    <h3>Edit Product</h3>
    <%= form_for(@product, url: update_product_path, html: { method: :put, role: 'form', multipart: true}) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :product_url %>
        <%= f.url_field :product_url, class: 'form-control' %>
      </div>

      <div class="form-group">
        <% if f.object.image? %>
          <%= content_tag :div, ' X ', class: 'delete_image' %>
          <%= image_tag f.object.image.thumb.url %>
          <%= f.file_field :image, style: 'display:none', accept: 'image/*', value: f.object.image, class: 'form-control' %>
        <% else %>
          <%= f.label :image %>
          <%= f.file_field :image, accept: 'image/*', class: 'form-control' %>
        <% end %>
      </div>

      <%= f.submit class: 'button right' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.delete_image').click(function() {
    $(this).parent().find('img').hide();
    $(this).parent().find('img').src = '';
    $(this).hide();
    $(this).parent().find('input').val('');
    $(this).parent().find('input').show();
  });
});
</script>