<% if !current_user.store %>
  <div class="container">
    <div class="authform">
      <h3>Create New Store</h3>
      <%= form_for(@store, url: users_store_path(current_user), html: { method: :post, role: 'form'}) do |f| %>
        <% if @store.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@store.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @store.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <%= f.submit class: 'button right' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container">
    <h2 class="text-center">Welcome to "<strong><%= current_user.store.name %></strong>" store !!!</h2>
  </div>
  <div class="container">
    <div class="authform">
      <h3>Add New Product</h3>
      <%= form_for(@product, url: products_path, html: { method: :post, role: 'form', multipart: true}) do |f| %>
        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :product_url %>
          <%= f.url_field :product_url, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, accept: 'image/*', class: 'form-control' %>
        </div>

        <%= f.submit class: 'button right' %>
      <% end %>
    </div>
    <div class="row">
      <h3>Products</h3>
      <div class="column">
        <table class="table">
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <%= render product %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
