<h3>Product</h3>
<p>Title: <%= @product.title if @product.title %></p>
<p>Source Url: <%= link_to(@product.product_url, @product.product_url, target: '_blank') if @product.product_url %></p>
<p>Image: <%= image_tag(@product.image.thumb.url) if @product.image %></p>
<p class='text-center'>
  <%= link_to 'Edit', edit_product_path(@product.id), class: 'btn btn-primary button_group'%>
  <%= link_to 'Destroy', delete_product_path(@product.id), method: :delete, class: 'btn btn-danger button_group'%></p>